body {
    background-color: #dfdfdf;
}

.menu {
    width: 100%;
    height: 63px;
}

a {
    padding: 2px;
    margin: auto;
    color: rgb(41, 37, 37);
    text-decoration: none;
    font-size: 33;
    font-family: fantasy;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: white;
    background-color: black;
    border-radius: 15%;
}
.search {
    border: none;
    background-color: white;
    float: right;
}
#sh-ico{
    width: 16px;
    height: 14px;
}
#post-img {
    width: 640px;
    height: 380px;
}
.post {
    
}